<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100051266786-n3387sduccv2ftjeghqmamf0649u84fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100051266786-n3387sduccv2ftjeghqmamf0649u84fq</string>
	<key>API_KEY</key>
	<string>***REMOVED***</string>
	<key>GCM_SENDER_ID</key>
	<string>100051266786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.v01</string>
	<key>PROJECT_ID</key>
	<string>atlas-23</string>
	<key>STORAGE_BUCKET</key>
	<string>atlas-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100051266786:ios:179eb4a7ce8f6a4cae82bb</string>
</dict>
</plist>